.header {
  display: inline-flex;
  vertical-align: middle;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.no_underline {
  text-decoration: none;
}

.no_underline_gigview {
  text-decoration: none;
  color: white;
}

body {
  background-color: #717171;
  padding: 3%;
  /* background-image: url("../img/boxes.jpg "); */
  background-image: url("../img/white-texture-seamless-.jpg ");
  background-size: 600px 300px, cover;
  background-attachment: fixed;
  background-repeat: repeat;

}

 .table_style {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  vertical-align: middle;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  vertical-align: middle;

}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #9A9A9A;
}

tr:hover {
  background-color: #3e3f4262;
}

h2 {
  background-color: #3e3f42;
  color: whitesmoke;
}

.content {
  background-color: #c1e036;


}

.content-head {
  background-color: #c1e036;
}

.navbar {
  /* padding: 10px; */
  /* margin: 20px; */
  background-color: #c1e036; }

md-button {
  background-color: #c1e036;
}

.box {
  padding: 20px;
  border-style: solid;
  border-color: #3e3f42;
}
