<div class="navbar" style="background-color: #9A9A9A">
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#user" name="home">
        <i class="material-icons">home</i> Home</a>
      </md-nav-item>
      <md-nav-item md-nav-href="#user-list" name="user-list">
        <i class="material-icons">perm_identity</i> User</a>
      </md-nav-item>
      <md-nav-item md-nav-href="#gigs" name="gigs">
        <i class="material-icons">event</i> Gigs</a>
      </md-nav-item>
      <md-nav-item md-nav-href="#/songs" name="songs">
        <i class="material-icons">queue_music</i> Songs</a>
      </md-nav-item>
      <span flex></span>
      <md-button class="btn btn-default" ng-controller="UserController as uc" ng-click="uc.userService.logout()">Log Out</md-button>
    </md-nav-bar>
  </md-content>
</div>