<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
      <li><a href="#/user-list"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a></li>
      <li><a href="#/gigs"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Gigs</a></li>
      <li><a href="#/songs"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Songs</a></li>



    </ul>
  </div>
</div>
