<div class="navbar">
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#user" name="home">
        <i class="material-icons">home</i> Home</a>
      </md-nav-item>
      <md-nav-item md-nav-href="#user-list" name="user-list">
        <i class="material-icons">perm_identity</i> Users</a>
      </md-nav-item>
      <md-nav-item md-nav-href="#gigs" name="gigs">
        <i class="material-icons">event</i> Gigs</a>
        <!-- <div class="sub-menu" ng-animate="'animate'" >
            <md-menu-item ng-controller="GigController as gc" ng-repeat="gig in gc.gigs.list" >
              <p>{{gig.location}}</p>
            </md-menu-item>
          </div> -->
      </md-nav-item>
      <md-nav-item md-nav-href="#/songs" name="songs">
        <i class="material-icons">queue_music</i> Songs</a>
      </md-nav-item>
      <span flex></span>
      <md-button ng-controller="UserController as uc" ng-click="uc.userService.logout()">Log Out</md-button>
    </md-nav-bar>
  </md-content>
</div>