<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h1>Gig Details</h1>
    <p><strong>Location: </strong>{{gdc.gig.details.location}}</p>
    <p><strong>Date: </strong> {{gdc.gig.details.date}}</p>
    <p><strong>Start Time: </strong>{{gdc.gig.details.start_time}}</p>
    <p><strong>End Time: </strong>{{gdc.gig.details.end_time}}</p>
    <p><strong>Load-In Time: </strong>{{gdc.gig.details.load_time}}</p>
    <p><strong>Notes: </strong>{{gdc.gig.details.details}}</p>

{{gdc.gigSongs.list}}


</div>