<div ng-include="'views/partials/nav.html'"></div>
<md-content class="md-padding">
    <div class="content" layout="column" layout-padding>
        <div flex layout-align="center" layout-padding style="background-color: #FBFBFF">
            <h2>Gig Details</h2>
            <div>
                <h3>
                <strong>Location: </strong>{{gdc.gig.details.location}}</h3>
                <p>
                    <strong>Date: </strong> {{gdc.gig.details.date}}</p>
                <p>
                    <strong>Start Time: </strong>{{gdc.gig.details.start_time}}</p>
                <p>
                    <strong>End Time: </strong>{{gdc.gig.details.end_time}}</p>
                <p>
                    <strong>Load-In Time: </strong>{{gdc.gig.details.load_time}}</p>
                <p>
                    <strong>Notes: </strong>{{gdc.gig.details.details}}</p>
            </div>
        </div>
        <div flex layout-align="center" max-width=80% layout-padding style="background-color: #FBFBFF">
            <table>
                <h2>Set List</h2>

                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Length</th>
                        <th>BPM</th>
                        <th>Key</th>
                        <th>Play</th>
                        <th>Song Order</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="song in gdc.gigSongs.list">
                        <td>
                            <span>{{song.song_title}}</span>
                            <!-- <input ng-show="song.isEditable" type="text" ng-model="song.title"> -->
                        </td>
                        <td>
                            <span>{{song.song_artist}}</span>
                            <!-- <input ng-show="song.isEditable" type="text" ng-model="song.artist"> -->
                        </td>
                        <td>
                            <span>{{song.song_length}}</span>
                            <!-- <input ng-show="song.isEditable" type="text" ng-model="song.length"> -->
                        </td>
                        <td>
                            <span>{{song.song_bpm}}</span>
                            <!-- <input ng-show="song.isEditable" type="text" ng-model="song.bpm"> -->
                        </td>
                        <td>
                            <span>{{song.song_key}}</span>
                            <!-- <input ng-show="song.isEditable" type="text" ng-model="song.key"> -->
                        </td>
                        <td>
                            <span>
                                <a class="no_underline" ng-href="{{song.song_recording_url}}" target="_blank">
                                    <i class="material-icons">play_circle_filled</i>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span ng-hide="song.isEditable">{{song.song_order}}</span>
                            <input ng-show="song.isEditable" type="text" ng-model="song.song_order">
                        </td>
                        <td>
                            <md-button ng-hide="song.isEditable" ng-click="song.isEditable = !song.isEditable">Edit Order</md-button>
                            <md-button ng-show="song.isEditable" ng-click="gdc.editSongOrder(song, song.gig_id)">Save Order</md-button>
                        </td>
                        <td>
                            <md-button class="md-fab md-mini" aria-label="Delete" ng-click="gdc.deleteGigSong(song, song.gig_id)">
                                <i class="material-icons">delete_forever</i>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</md-content>