<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div>
        <h2>Add Song</h2>
        <form ng-submit="sc.addSong(sc.songs)">
            <div>
                <label for="title">Title</label>
                <input type="text" ng-model="sc.songs.title" />
            </div>
            <div>
                <label for="artist">Artist</label>
                <input type="text" ng-model="sc.songs.artist" />
            </div>
            <div>
                <label for="length">Length</label>
                <input type="text" ng-model="sc.songs.length" />
            </div>
            <div>
                <label for="bpm">BPM</label>
                <input type="number" ng-model="sc.songs.bpm" />
            </div>
            <div>
                <label for="key">Key</label>
                <input type="text" ng-model="sc.songs.key" />
            </div>
            <div>
                <label for="recording_url">Recording Link</label>
                <input type="text" ng-model="sc.songs.recording_url" />
            </div>
            <div>
                <label for="pdf_url">PDF</label>
                <input type="text" ng-model="sc.songs.pdf_url" />
            </div>
            <input class="btn btn-default" type="submit" name="submit" value="Add Song" />
        </form>
    </div>
    <div>
        <h2>Song List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Length</th>
                    <th>BPM</th>
                    <th>Key</th>
                    <th>Play</th>
                    <th>PDF</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in sc.songs.list">
                    <td>
                        {{song.title}}
                    </td>
                    <td>
                        {{song.artist}}
                    </td>
                    <td>
                        {{song.length}}
                    </td>
                    <td>
                        {{song.bpm}}
                    </td>
                    <td>
                        {{song.key}}
                    </td>
                    <td>
                        {{song.recording_url}}
                    </td>
                    <td>
                        {{song.pdf_url}}
                    </td>
                    <!-- button placeholders -->
                    <td>
                        <button ng-click="vm.deleteHero(hero)">Edit</button>
                    </td>
                    <td>
                        <button ng-click="vm.deleteHero(hero)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>