<div ng-include="'views/partials/nav.html'"></div>
<md-content class="md-padding">
    <div layout="column" layout-padding>
        <h2>Add Song</h2>
        <form ng-submit="sc.addSong(sc.songs)">
            <div>
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="sc.songs.title">
                </md-input-container>
                <md-input-container>
                    <label>Artist</label>
                    <input ng-model="sc.songs.artist">
                </md-input-container>
                <md-input-container>
                    <label>Length</label>
                    <input ng-model="sc.songs.length">
                </md-input-container>
                <md-input-container>
                    <label>BPM</label>
                    <input ng-model="sc.songs.bpm">
                </md-input-container>
                <md-input-container>
                    <label>Key</label>
                    <input ng-model="sc.songs.key">
                </md-input-container>
                <md-input-container>
                    <label>Recording URL</label>
                    <input ng-model="sc.songs.recording_url">
                </md-input-container>
            </div>
            <input class="md-button md-raised" type="submit" name="submit" value="Add Song" />
        </form>
    </div>
    <div layout="column" layout-padding>
        <h2>Song List</h2>
        <button ng-hide="add.addToGig" ng-click="add.addToGig = !add.addToGig">Create A Setlist</button>
        <button ng-show="add.addToGig" ng-click="add.addToGig = !add.addToGig">Done Adding Songs</button>
        <div ng-controller="GigController as gc">
            <select ng-show="add.addToGig" ng-model="sc.songToAdd.gig_id" name="gig" id="gigLocation">
                <option ng-repeat="gig in gc.gigs.list" ng-value="{{gig.id}}">{{gig.location}}</option>
            </select>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Length</th>
                    <th>BPM</th>
                    <th>Key</th>
                    <th>Play</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in sc.songs.list">
                    <td>
                        <span ng-hide="song.isEditable">{{song.title}}</span>
                        <input ng-show="song.isEditable" type="text" ng-model="song.title">
                    </td>
                    <td>
                        <span ng-hide="song.isEditable">{{song.artist}}</span>
                        <input ng-show="song.isEditable" type="text" ng-model="song.artist">
                    </td>
                    <td>
                        <span ng-hide="song.isEditable">{{song.length}}</span>
                        <input ng-show="song.isEditable" type="text" ng-model="song.length">
                    </td>
                    <td>
                        <span ng-hide="song.isEditable">{{song.bpm}}</span>
                        <input ng-show="song.isEditable" type="text" ng-model="song.bpm">
                    </td>
                    <td>
                        <span ng-hide="song.isEditable">{{song.key}}</span>
                        <input ng-show="song.isEditable" type="text" ng-model="song.key">
                    </td>
                    <td>
                        <span ng-hide="song.isEditable">
                            <a class="no_underline" ng-href="{{song.recording_url}}" target="_blank">
                                <i class="material-icons">play_circle_filled</i>
                            </a>
                        </span>
                        <input ng-show="song.isEditable" type="text" ng-model="song.recording_url">
                    </td>
                    <td>
                        <md-checkbox id="{{song.id}}" ng-show="add.addToGig" ng-model="sc.songToAdd.song_id" ng-true-value="{{song.id}}" ng-change="sc.addSongsToGig(sc.songToAdd)"
                            aria-label="Add song to setlist checkbox"></md-checkbox>
                        <!-- <span ng-show="add.songAdded">Added!</span> -->
                    </td>
                    <td>
                        <md-button class="md-fab md-mini" ng-hide="song.isEditable" ng-click="song.isEditable = !song.isEditable">
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                        <md-button class="md-fab md-mini" ng-show="song.isEditable" ng-click="sc.editSong(song)">
                            <i class="material-icons">save</i>
                        </md-button>
                        <!-- <md-button class="md-raised" ng-hide="song.isEditable" ng-click="song.isEditable = !song.isEditable">Edit</md-button>
                        <md-button class="md-raised" ng-show="song.isEditable" ng-click="sc.editSong(song)">Save</md-button> -->
                    </td>
                    <td>
                        <md-button class="md-fab md-mini" aria-label="Delete" ng-click="sc.deleteSong(song)">
                            <i class="material-icons">delete_forever</i>
                        </md-button>
                        <!-- <md-button class="md-raised" ng-click="sc.deleteSong(song)">Delete</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>