<div ng-include="'views/partials/nav.html'"></div>
<md-content class="container">
    <div layout="column" layout-padding class="container user">
        <h2>Users</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in uc.users.list">
                    <td>
                        <span ng-hide="user.isEditable">{{user.first_name}}</span>
                        <input ng-show="user.isEditable" type="text" ng-model="user.first_name">
                    </td>
                    <td>
                        <span ng-hide="user.isEditable">{{user.last_name}}</span>
                        <input ng-show="user.isEditable" type="text" ng-model="user.last_name">
                    </td>
                    <td>
                        <span ng-hide="user.isEditable">{{user.username}}</span>
                        <input ng-show="user.isEditable" type="text" ng-model="user.username">
                    </td>
                    <td>
                        <md-button class="md-fab" ng-hide="user.isEditable" ng-click="user.isEditable = !user.isEditable">
                                <i class="material-icons">mode_edit</i>
                        </md-button>
                        <md-button class="md-fab" ng-show="user.isEditable" ng-click="uc.editUser(user)">
                                <i class="material-icons">save</i>
                        </md-button>
                    </td>
                    <td>
                        <md-button class="md-fab" aria-label="Delete" ng-click="uc.deleteUser(user)">
                            <i class="material-icons">delete_forever</i>
                        </md-button>
                        <!-- <md-button class="md-raised" ng-click="uc.deleteUser(user)">Delete</md-button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#register">
            <md-button class="md-raised">Add New User</md-button>
        </a>
    </div>
</md-content>