<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>
<div class="container" ng-controller="GigController as gc">
    <h3>Your Schedule</h3>
    {{gc.userGigs.list}}
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gig in gc.userGigs.list">
                    <td>
                        {{gig.gig_date | date :  "MM/dd/y" }}
                    </td>
                    <td>
                        {{gig.gig_location}}
                    </td>
                    <td>
                        {{gig.start_time | date : "h:mma"}}
                    </td>
                    <td>
                        {{gig.end_time | date : "h:mma"}}
                    </td>
                    <td>
                        <button><a ng-href="gigs/{{gig.id}}">Details</a></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>