<div ng-include="'views/partials/nav.html'"></div>
<md-content class="md-padding">
    <div class="content" layout="column" layout-padding>
        <div flex layout-align="center" layout-padding style="background-color: #FBFBFF">
            <h2 flex>Users</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in uc.users.list">
                        <td>
                            <span ng-hide="user.isEditable">{{user.first_name}}</span>
                            <input ng-show="user.isEditable" type="text" ng-model="user.first_name">
                        </td>
                        <td>
                            <span ng-hide="user.isEditable">{{user.last_name}}</span>
                            <input ng-show="user.isEditable" type="text" ng-model="user.last_name">
                        </td>
                        <td>
                            <span ng-hide="user.isEditable">{{user.username}}</span>
                            <input ng-show="user.isEditable" type="text" ng-model="user.username">
                        </td>
                        <td>
                            <md-button style="background-color:#DB995A;" class="md-fab md-mini" ng-hide="user.isEditable" ng-click="user.isEditable = !user.isEditable">
                                <i class="material-icons">mode_edit</i>
                            </md-button>
                            <md-button style="background-color:#DB995A;" class="md-fab md-mini" ng-show="user.isEditable" ng-click="uc.editUser(user)">
                                <i class="material-icons">save</i>
                            </md-button>
                        </td>
                        <td>
                            <md-button style="background-color:#DB995A;" class="md-fab md-mini" aria-label="Delete" ng-click="uc.deleteUser(user)">
                                <i class="material-icons">delete_forever</i>
                            </md-button>
                            <!-- <md-button class="md-raised" ng-click="uc.deleteUser(user)">Delete</md-button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="#register">
                <md-button style="background-color:#DB995A;" class="md-raised">Add New User</md-button>
            </a>
        </div>
    </div>
</md-content>